.page {
  position: relative;
  padding-top: 685rpx;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 750rpx;
    height: 500rpx;
  }

  .screenshot {
    position: absolute;
    top: 58rpx;
    left: 220rpx;
    width: 300rpx;
    height: 600rpx;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1rpx 31rpx 1rpx rgba(104, 104, 107, 0.18);
    border-radius: 20rpx;

    image {
      width: 300rpx;
      height: 560rpx;
    }
  }
}

.theme-block {
  text-align: center;
  justify-content: center;

  .theme {
    position: relative;

    .selected {
      position: absolute;
      width: 48rpx;
      height: 48rpx;
      bottom: 50rpx;
      right: 20rpx;
      background: url("../../static/theme/selected.png") no-repeat;
      background-size: contain;
    }

    .theme-image {
      width: 200rpx;
      height: 260rpx;
    }
  }

  .mr80 {
    margin-right: 80rpx;
  }
}

.send-btn {
  width: 500rpx;
  height: 88rpx;
  margin: 30rpx auto;
  background: rgba(252, 88, 27, 1);
  box-shadow: 0 9rpx 27rpx 2rpx rgba(252, 88, 27, 0.26);
  border-radius: 44rpx;
  color: #fff;
  font-size: 32rpx;
  font-weight: bold;
  line-height: 88rpx;
  text-align: center;
}
